<div class="modal">
  <!-- Botón X para cerrar -->
  <button class="close-btn" (click)="closeModal()">×</button>

  <button class="nav left" (click)="anterior()">❮</button>

  <div class="modal-card"
     [@slideAnimation]="{
        value: animationKey,
        params: {
          enterFrom: direction === 'left'
           ? 'translateX(100%)'
           : 'translateX(-100%)'
       }
     }">

    <div class="image-section">
      <img src="/pizza.png" />
    </div>

    <div class="content-section">
      <h2>{{ pizzaActual.nombre }}</h2>

      <ul class="ingredients">
        <li *ngFor="let ing of pizzaActual.ingredientes">
          {{ ing }}
        </li>
      </ul>
      <img src="/texto.png" class="texto" alt="Texto" />
      <div class="sizes">
        <button *ngFor="let t of pizzaActual.tamanos">
          {{ t.nombre }} <span>${{ t.precio }}</span>
        </button>
      </div>
    </div>

  </div>

  <button class="nav right" (click)="siguiente()">❯</button>

</div>