<section class="menu-page">
   <section class="banner">
      <app-bannerNaranja></app-bannerNaranja>
   </section>


  <section id="promociones" class="promotion-wrapper">
    <app-promotions></app-promotions>
  </section>


  <section id="pizzas" class="pizzas-wrapper">
    <app-pizzas></app-pizzas>   
  </section>

  <section id="antojitos" class="extra-wrapper">
    <app-snacks></app-snacks>
  </section>
   <app-pizza-modal
    *ngIf="modalService.isOpen"
    [pizza]="modalService.selectedPizza$ | async"
    (close)="modalService.closeModal()">
  </app-pizza-modal>
</section>