<section class="snack-section" id="antojitos">
  <h2 class="section-title">~ antojitos ~</h2>

  <div class="snack-container">
    <div class="snack-card" *ngFor="let snack of snacks">
      <img [src]="snack.imagen" [alt]="snack.nombre" class="snack-img" />

      <div class="snack-info">
        <h1>{{ snack.nombre }}</h1>

        <ul class="snack-sizes">
          <li *ngFor="let tipo of snack.tipos">
            <span>{{ tipo.nombre }}</span>
            <span class="price">${{ tipo.precio }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>